html,
body {
  height: 100%;
}
.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
.wrap > .container {
  padding: 70px 15px 20px;
}
.footer {
  /*position:relative;*/
  /*z-index: 1131;*/
  bottom: 0px;
  left: 0px;
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.not-set {
  color: #c55;
  font-style: italic;
}
/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}
a.asc:after {
  content: /*"\e113"*/ "\e151";
}
a.desc:after {
  content: /*"\e114"*/ "\e152";
}
.GDA a {
  text-decoration: none;
  color: #333;
}
.sort-numerical a.asc:after {
  content: "\e153";
}
.sort-numerical a.desc:after {
  content: "\e154";
}
.sort-ordinal a.asc:after {
  content: "\e155";
}
.sort-ordinal a.desc:after {
  content: "\e156";
}
.grid-view th {
  white-space: nowrap;
}
.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}
.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}
.firms-form {
  max-width: 800px;
  width: 100%;
  padding: 10px;
  /* Поля вокруг текста */
  margin: auto;
  /* Выравниваем по центру */
}
.firms-form .panel {
  margin-top: 1px;
}
.firms-update {
  margin: auto;
  max-width: 900px;
}
.view800 {
  margin: auto;
  max-width: 800px;
}
.view700 {
  margin: auto;
  max-width: 700px;
}
.view500 {
  margin: auto;
  max-width: 500px;
}
.firms-index {
  margin: auto;
  max-width: 600px;
  min-width: 400px;
}
.container {
  margin: auto;
}
.active-label {
  font-weight: bold;
}
.zakaz-tab {
  margin-top: 10px;
}
.zakaz-tab .form-control {
  z-index: 0;
}
.zakaz {
  padding: 10px 10px;
  height: 100%;
}
.zakaz .dropdown-menu {
  max-height: 200px;
  overflow: hidden;
  margin-bottom: 50px;
  overflow-y: scroll;
}
.zakaz .copyFileInfo {
  margin-bottom: 10px;
  padding: 20px;
}
.zakaz .help-block-error {
  font-size: .93em;
}
.zakaz .materialList {
  margin-right: 145px;
}
.zakaz .materialList > table > tbody > tr {
  font-size: 12px;
}
.zakaz .materialList > table > tbody > tr td {
  padding: 4px 8px;
}
.zakaz .materialList > table > tbody > tr td:nth-child(2) {
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rosybrown;
}
.zakaz .materialList > table > tbody > tr .listInfo {
  min-width: 760px;
}
.zakaz .materialList > table > tbody > tr .count {
  width: 60px;
}
.zakaz-bt-group {
  width: 100%;
  display: inline-flex;
}
.zakaz-bt-group > span:first-of-type {
  z-index: 0;
  text-align: center;
  padding: 5px;
  white-space: nowrap !important;
  /* Запрещаем перенос строк */
  overflow: hidden !important;
  /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis !important;
  /*Добавляем многоточие */
  cursor: default;
}
.zakaz-bt-group > .input-group-btn {
  width: auto;
}
.zakaz-bt-group > .form-control {
  border-bottom-left-radius: 4px !important;
  border-top-left-radius: 4px !important;
}
.zakaz-bt-group .btn {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  margin-left: -1px;
}
.field-zakaz-omanager > input {
  cursor: default !important;
}
.dt-pick {
  z-index: 1;
}
.badgeAlert {
  /*background-color: #ef2926 !important;*/
  background-color: #fc9c9c !important;
  color: #333;
}
.badgeOk {
  background-color: #6bf8b0 !important;
  color: #333;
}
.badgePrimary {
  background-color: #007fff !important;
}
.badgeWarning {
  background-color: #fad42e !important;
  color: #333;
}
.mat-edit {
  margin: 10px auto;
  width: 90%;
}
.mat-edit .form-control {
  border-bottom-left-radius: 4px !important;
  border-top-left-radius: 4px !important;
}
.mat-edit .row {
  margin: 5px 10px;
}
.zakaz-tab .table {
  width: 1200px;
  margin: 10px auto 10px 20px;
}
.zakaz-tab .table input {
  margin: auto 2px;
}
.zakaz-tab .table tr td:first-child {
  width: 160px;
  text-align: right;
}
.zakaz-tab .table tr td:last-child {
  min-width: 30px;
  margin-left: 5px;
  text-align: left;
}
.zakaz-tab .table tr td:nth-child(5) {
  margin-right: 10px;
}
.zakaz-tab .table tr th:nth-child(2) {
  min-width: 170px;
}
.zakaz-tab .table tr th:nth-child(1) {
  min-width: 130px;
}
.zakaz-tab .table .standart {
  min-width: 140px;
  max-width: 140px;
}
.zakaz-tab .input-group-btn:last-child > .btn,
.zakaz-tab .input-group-btn:last-child > .btn-group {
  z-index: 0;
}
.progress {
  cursor: progress;
}
.has-error .btn-default {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .btn-default {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
#askMoadal {
  width: 700px;
  margin: auto;
}
#askMoadal .separator {
  color: #555555;
  margin: 2px 2px 20px 20px;
  border-bottom: 1px solid #d5d5d5;
  font-weight: bold;
  text-align: center;
}
#zakazFindNum {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.log div {
  margin-top: 10px;
  display: table-row;
  font-size: 12px;
  line-height: 13px;
}
.log div div {
  /*display: table-row;*/
  /*padding-left: 15px;*/
  margin-left: 15px;
}
.log div div span {
  margin-top: 10px;
}
.log .logSub {
  /*display: inline-block;*/
}
.log .hasObject {
  display: inline-block;
}
.log .hasObject .logSub {
  display: inline-block;
}
.log .logItem span:first-child {
  font-weight: bolder;
  margin-right: 5px;
  /*padding-left: 10px;*/
  /*float: left*/
  display: table-row;
}
.log .logItem span:last-child {
  display: inline-block;
}
.log .lodItem span:nth-child(2) {
  float: left;
}
.log .logItem div:last-child {
  display: inline-block;
}
.log .logItem > span:first-child:after {
  margin-left: 10px;
  content: '=>';
}
.dropdown-menu li a span {
  background-color: lightgrey;
}
.free-space-info {
  color: #999;
  margin-top: 10px;
  margin-left: 20px;
}
.free-space-info > li {
  padding: 5px 0px;
  font-size: 10px;
  margin: 5px 0;
}
.free-space-info > li > ul {
  margin-bottom: -8px;
  margin-right: 10px;
  background-color: #eee;
}
.free-space-info > li span {
  margin: 5px 0;
  margin-left: 10px;
  font-size: 10px;
}
.free-space-info .head span {
  font-size: 15px;
}
.free-space-info .head span:nth-child(1) {
  margin-right: 0;
  padding-right: 0;
}
.free-space-info .head span:nth-child(2) {
  margin-left: 0;
  padding-left: 0;
}
#sMaterial {
  padding-top: 15px;
}
#sMaterial .input-group {
  width: 200px;
  /*    margin-left: auto;
        margin-right: auto;*/
}
#sMaterial .form-control {
  width: 100%;
}
#sMaterial .col {
  width: 255px;
  float: left;
  padding-left: 5px;
}
#sMaterial .col .supplierType {
  margin-left: -30px;
}
#sMaterial .col:first-child {
  margin-left: 15px;
  width: 400px;
  float: left;
}
#sMaterial .col:first-child .supplierType {
  padding-left: 80px;
}
.supplierType .input-group {
  width: 100% !important;
  /*margin-left: 10px !important;*/
  font-size: 13px;
}
.tab-pane {
  padding-top: 15px;
}
.parameters-color td:first-child {
  max-width: 120px !important;
}
.parameters-color textarea {
  height: 100%;
  width: 100%;
}
.listGVF {
  width: 100%;
  height: 100%;
}
.hidden {
  display: none;
}
.zakazList {
  width: 100px;
}
.materialList > table td {
  background-color: transparent;
}
.zakaz-detali-des2-but {
  margin-bottom: 10px;
  margin-left: 20px;
}
.zakaz-detali-des2 {
  font-size: 14px;
}
@media print {
  .zakaz-detali-des2 {
    width: 1000px!important;
    font-size: 17px!important;
  }
}
.zakaz-detali-des2 .content-img div,
.zakaz-detali-des2 .content-img img,
.zakaz-detali-des2 .content-img iframe {
  margin-left: 10px;
}
.zakaz-detali-des2 .content-img div:first-child,
.zakaz-detali-des2 .content-img img:first-child,
.zakaz-detali-des2 .content-img iframe:first-child {
  float: left;
}
.zakaz-detali-des2 .content-img .img-thumbnail {
  max-height: 790px!important;
  max-width: 430px!important;
}
.zakaz-detali-des2 .noBorder {
  border: none;
}
.zakaz-detali-des2 .noBorder td {
  padding: 0px!important;
  margin: 0px;
  height: 6px;
}
.zakaz-detali-des2 .colors {
  width: 50px!important;
}
.zakaz-detali-des2 .rem {
  height: 100px;
}
.zakaz-detali-des2 .remInfo {
  height: 550px;
}
.zakaz-detali-des2 .info {
  width: 300px;
  background-color: #fff!important;
}
.zakaz-detali-des2 .liff {
  margin: 5px;
  height: 200px;
  /*width:40%;*/
  /*display: inline-block;*/
  width: 350px;
  border: solid 1px #999;
  background-color: #f2f2f2;
}
@media print {
  .zakaz-detali-des2 .liff {
    margin: 5px !important;
    height: 200px !important;
    /*width:40%;*/
    /*display: inline-block;*/
    width: 350px !important;
    border: solid 1px #999 !important;
    background-color: #f2f2f2 !important;
  }
}
.zakaz-detali-des2 .table_i {
  margin-bottom: 2px;
}
.zakaz-detali-des2 .table_i > tbody > tr > td,
.zakaz-detali-des2 .table_i > tbody > tr > th {
  padding: 2px 5px;
}
.zakaz-detali-des2 .table_i > tbody > tr > th {
  font-style: normal;
  font-weight: normal;
  background-color: #f1f1f1;
}
.zakaz-detali-des2 .table_i > tbody > tr > td {
  font-style: italic;
  font-weight: bold;
}
@media print {
  .zakaz-detali-des2 .table_i > tbody > tr > td,
  .zakaz-detali-des2 .table_i > tbody > tr > th {
    padding: 2px 5px !important;
  }
  .zakaz-detali-des2 .table_i > tbody > tr > th {
    font-style: normal !important;
    font-weight: normal !important;
    background-color: #f1f1f1 !important;
  }
  .zakaz-detali-des2 .table_i > tbody > tr > td {
    font-style: italic !important;
    font-weight: bold !important;
  }
}
.zakaz-detali-des2 .table1 {
  margin-bottom: 2px;
}
.zakaz-detali-des2 .table1 > tbody > tr > td,
.zakaz-detali-des2 .table1 > tbody > tr > th {
  padding: 2px 5px;
}
.zakaz-detali-des2 .table1 > tbody > tr > th {
  font-style: normal;
  font-weight: normal;
  background-color: #f1f1f1;
}
.zakaz-detali-des2 .table1 > tbody > tr > td {
  font-style: italic;
  font-weight: bold;
}
@media print {
  .zakaz-detali-des2 .table1 > tbody > tr > td,
  .zakaz-detali-des2 .table1 > tbody > tr > th {
    padding: 2px 5px !important;
  }
  .zakaz-detali-des2 .table1 > tbody > tr > th {
    font-style: normal !important;
    font-weight: normal !important;
    background-color: #f1f1f1 !important;
  }
  .zakaz-detali-des2 .table1 > tbody > tr > td {
    font-style: italic !important;
    font-weight: bold !important;
  }
}
.zakaz-detali-des2 .table1 > tbody > tr > th:first-child {
  white-space: nowrap;
}
.zakaz-detali-des2 .table1 > tbody > tr > th:nth-child(5) {
  width: 110px;
}
.zakaz-detali-des2 .table1 > tbody > tr > th:nth-child(3) {
  width: 90px;
}
.zakaz-detali-des {
  margin-top: 20px;
  font-size: 12px;
}
.zakaz-detali-des .row {
  margin-left: auto;
  margin-right: auto;
}
.zakaz-detali-des .file-loaded {
  max-width: 357px;
}
.zakaz-detali-des tr {
  height: 15px;
}
.zakaz-detali-des table {
  /*border-top: none!important;*/
  margin-bottom: 0px;
}
.zakaz-detali-des table th,
.zakaz-detali-des table td {
  padding: 2px 4px!important;
}
@media print {
  .zakaz-detali-des table th {
    background-color: #eee!important;
    color: #555!important;
    font-size: 15px!important;
    overflow: hidden!important;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .zakaz-detali-des table td {
    font-size: 17px!important;
    font: Areal;
  }
}
.zakaz-detali-des table th {
  text-align: right;
  vertical-align: middle;
}
.zakaz-detali-des table td {
  text-align: left;
  font-size: 14px;
  color: #55A;
  font-style: italic;
  font-weight: bold;
  padding-left: 8px!important;
}
.zakaz-detali-des > div > table:first-child {
  margin-bottom: 20px;
}
.zakaz-detali-des > div > table:not(:first-child) > tbody > tr > td,
.zakaz-detali-des > div > table:not(:first-child) > tbody > tr > th {
  border-top: none!important;
}
.zakaz-detali {
  font-size: 12px;
}
.zakaz-detali .row {
  margin-left: auto;
  margin-right: auto;
}
.zakaz-detali td {
  padding: 2px!important;
  margin: 2px!important;
}
.zakaz-detali table {
  max-width: 725px!important;
}
.zakaz-detali table table {
  max-width: 245px!important;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: auto;
  margin-bottom: 10px;
}
.zakaz-detali table table > tbody > tr > td {
  font-size: 11px;
  width: 120px;
  max-width: 130px!important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.zakaz-detali th {
  padding: 2px!important;
  margin: 2px!important;
}
.zakaz-detali > table > tbody > tr > th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 720px) {
  .zakaz-detali > table > tbody > tr > th {
    padding-right: 5px!important;
    max-width: 120px;
  }
}
.zakaz-detali .file-loaded {
  max-width: 357px;
}
#loader img {
  margin-bottom: 7px!important;
  /*    margin-left: 5px;*/
}
.lastEdit {
  background-color: #fff8dc!important;
}
.lastEditcRed {
  background-color: #ff9d8a!important;
}
.cRed {
  background-color: #ffaaaa!important;
}
.cRed:hover {
  background-color: #ff8888!important;
}
/*.cRed:nth-of-type(odd){
    background-color: #ffbbbb!important;
}*/
/*.cRed:nth-of-type(odd):hover{
    background-color: #ff8888!important;
}*/
.cYellow {
  background-color: #fad42e!important;
}
/*.cYellow:nth-of-type(odd){
    background-color: #ffd82e!important;
}*/
.cGreen {
  background-color: #44dd77!important;
}
/*.cGreen:nth-of-type(odd){
    background-color: #66ff99!important;
}*/
.cBlue {
  background-color: #007fff!important;
}
/*.cBlue:nth-of-type(odd){
    background-color: #005ddd!important;
}*/
.mCollapse {
  overflow: hidden;
  white-space: nowrap;
  width: 0px;
  transition: width 0.5s ease-out 0s;
}
.mIn {
  width: 100%;
}
#postpetchat {
  width: 800px;
}
#postpetchat input {
  width: 100%;
}
#postpetchat tr td:nth-child(1) {
  width: 150px !important;
}
#postpetchat tr th:nth-child(1) {
  width: 100px !important;
}
.reglament img:first-child {
  margin: 343px 0 0 auto;
}
.pagination .dropdown-menu > li > a {
  color: #337ab7;
}
.pagination .dropdown .active {
  background-color: #337ab7;
  color: #fff;
}
#parameters {
  margin-left: 50px;
}
#listZakazov img {
  margin-left: 20px;
  margin-bottom: 1px;
}
#listZakazov .table {
  font-size: 12px;
}
#listZakazov td {
  padding-top: 3px;
  padding-bottom: 3px;
}
#listZakazov .form-control {
  height: 16px;
  font-size: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  max-width: 130px;
}
#listZakazov tbody tr:hover {
  background-color: #b6daff;
}
#listZakazov tbody td:nth-child( 1) {
  width: 28px;
  max-width: 29px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#listZakazov tbody td:nth-child( 2) {
  width: 28px;
  max-width: 29px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#listZakazov tbody td:nth-child( 3) {
  width: 75px;
  max-width: 76px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#listZakazov tbody td:nth-child( 4) {
  width: 50px;
  max-width: 51px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#listZakazov tbody td:nth-child( 5) {
  width: 60px;
  max-width: 61px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#listZakazov tbody td:nth-child( 6) {
  width: 60px;
  max-width: 61px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#listZakazov tbody td:nth-child( 7) {
  width: 120px;
  max-width: 121px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#listZakazov tbody td:nth-child( 8) {
  width: 160px;
  max-width: 161px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#listZakazov tbody td:nth-child( 9) {
  width: 190px;
  max-width: 191px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#listZakazov tbody td:nth-child( 10) {
  width: 60px;
  max-width: 61px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#listZakazov tbody td:nth-child( 11) {
  width: 120px;
  max-width: 121px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#listZakazov tbody td:nth-child( 12) {
  width: 60px;
  max-width: 61px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#listZakazov tbody td:nth-child( 13) {
  width: 60px;
  max-width: 61px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#listZakazov tbody td:nth-child( 14) {
  width: 90px;
  max-width: 91px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#listZakazov .content-menu-right {
  left: -160px !important;
  width: 180px !important;
  overflow-y: auto !important;
}
#listZakazovDes img {
  margin-left: 20px;
  margin-bottom: 1px;
}
#listZakazovDes .table {
  font-size: 12px;
}
#listZakazovDes td {
  padding-top: 3px;
  padding-bottom: 3px;
}
#listZakazovDes .form-control {
  height: 16px;
  font-size: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  max-width: 130px;
}
#listZakazovDes tbody tr:hover {
  background-color: #b6daff;
}
#listZakazovDes .prDone {
  width: 100%;
  font-size: 10px;
}
#listZakazovDes tbody td:nth-child( 1) {
  width: 28px;
  max-width: 29px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#listZakazovDes tbody td:nth-child( 2) {
  width: 68px;
  max-width: 69px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#listZakazovDes tbody td:nth-child( 3) {
  width: 50px;
  max-width: 51px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#listZakazovDes tbody td:nth-child( 4) {
  width: 60px;
  max-width: 61px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#listZakazovDes tbody td:nth-child( 5) {
  width: 60px;
  max-width: 61px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#listZakazovDes tbody td:nth-child( 7) {
  width: 160px;
  max-width: 161px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#listZakazovDes tbody td:nth-child( 8) {
  width: 60px;
  max-width: 61px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#listZakazovDes tbody td:nth-child( 9) {
  width: 110px;
  max-width: 111px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#listZakazovBugalter {
  margin-top: 15px;
}
#listZakazovBugalter > span:first-child {
  font-size: 12px;
}
#listZakazovBugalter img {
  margin-left: 20px;
  margin-bottom: 1px;
}
#listZakazovBugalter .table {
  font-size: 12px;
}
#listZakazovBugalter td {
  padding-top: 3px;
  padding-bottom: 3px;
}
#listZakazovBugalter .form-control {
  height: 16px;
  font-size: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  max-width: 130px;
}
#listZakazovBugalter tbody tr:hover {
  background-color: #b6daff;
}
#listZakazovBugalter tbody {
  /*.td-nth(13 ; 150px);*/
}
#listZakazovBugalter tbody td:nth-child( 1) {
  width: 28px;
  max-width: 29px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#listZakazovBugalter tbody td:nth-child( 2) {
  width: 40px;
  max-width: 41px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#listZakazovBugalter tbody td:nth-child( 3) {
  width: 100px;
  max-width: 101px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#listZakazovBugalter tbody td:nth-child( 4) {
  width: 50px;
  max-width: 51px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#listZakazovBugalter tbody td:nth-child( 5) {
  width: 120px;
  max-width: 121px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#listZakazovBugalter tbody td:nth-child( 6) {
  width: 90px;
  max-width: 91px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#listZakazovBugalter tbody td:nth-child( 7) {
  width: 130px;
  max-width: 131px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#listZakazovBugalter tbody td:nth-child( 8) {
  width: 100px;
  max-width: 101px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#listZakazovBugalter tbody td:nth-child( 9) {
  width: 80px;
  max-width: 81px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#listZakazovBugalter tbody td:nth-child( 10) {
  width: 120px;
  max-width: 121px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#listZakazovBugalter tbody td:nth-child( 11) {
  width: 120px;
  max-width: 121px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#listZakazovBugalter tbody td:nth-child( 12) {
  width: 120px;
  max-width: 121px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#listZakazovBugalter td .td-raw {
  border-bottom: solid 1px #007fff;
}
#listZakazovBugalter td .td-raw:hover {
  background-color: #a7c9ee;
  opacity: 10%;
}
#listZakazovBugalter td .td-raw:last-child {
  border-bottom: none !important;
}
#listZakazovBugalter td .td-raw span:first-child {
  padding-left: 10px;
}
#listZakazovBugalter td .td-raw span:last-child {
  float: right;
  margin-top: -3px;
  margin-right: 10px;
  padding: 3px;
  border-radius: 4px;
}
#listZakazovBugalter td .td-raw .glyphicon-check {
  color: green !important;
}
#listZakazovBugalter td .td-raw .glyphicon-unchecked {
  transition: background-color 1s;
  transition: color 1s;
  background-color: transparent;
  color: gray;
}
#listZakazovBugalter td .td-raw .glyphicon-unchecked:hover {
  background-color: #428bca;
  color: whitesmoke;
}
.ui-datepicker {
  z-index: 1059 !important;
}
.ui-datepicker-buttonpane button:last-child {
  display: none;
}
.ui-datepicker-buttonpane button:first-child {
  padding: 1px;
  margin-bottom: .8em;
  padding: .2em .8em;
  font-size: .7em;
}
.ui-datepicker-unselectable {
  opacity: .45 !important;
  filter: alpha(opacity=45) !important;
}
.ui-datepicker-unselectable span {
  background: none !important;
  background-color: #ffdada !important;
  color: #222 !important;
}
.ui-datepicker-other-month {
  opacity: .45 !important;
  filter: alpha(opacity=50) !important;
}
.ui-datepicker-other-month a {
  background: none !important;
  background-color: #ffeb93 !important;
}
.ui-datepicker-other-month span {
  opacity: .45 !important;
  filter: alpha(opacity=45) !important;
}
.ui-datepicker-current-day .ui-state-active {
  background: none;
  background-color: #007fff;
  color: gainsboro;
}
.ui-datepicker-current-day .ui-state-highlight {
  background: none;
  background-color: #007fff !important;
  background-image: url(pic/ui-datepicer-arrow-white.png) !important;
}
.ui-datepicker-today .ui-state-highlight {
  background: none;
  background-image: url(pic/ui-datepicer-arrow.png);
  background-position: right bottom;
  background-repeat: no-repeat;
}
/* Edit Below to Customize Widths > 768px */
#wrapper {
  min-height: 100%;
  height: 100%;
  margin: 0 auto -60px -90px;
  padding: 0 0 60px 0px;
  transition: 0.5s padding-left ease-out;
}
@media print {
  #wrapper {
    height: auto !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}
#page-wrapper {
  min-height: 100%;
  height: auto;
  margin-left: 120px;
  padding: 65px 25px 0px 40px;
  transition: 0.5s padding-left ease-out;
}
@media print {
  #page-wrapper {
    padding: 0 auto !important;
    margin: 0 !important;
  }
}
@media (max-width: 1024px) {
  #page-wrapper {
    padding: 65px 25px 0px 70px;
  }
}
@media (max-width: 768px) {
  #page-wrapper {
    padding: 65px 25px 0px 130px;
  }
}
.side-nav-toggle-info > li:first-child {
  display: none;
}
@media (max-width: 768px) {
  .side-nav-toggle-info > li:first-child {
    display: block;
  }
}
.side-nav-toggle-info > li:nth-child(2) button {
  display: block;
}
@media (max-width: 768px) {
  .side-nav-toggle-info > li:nth-child(2) {
    display: none;
  }
}
/*  #side-nav-toggle{
      display: block;
      @media (max-width: 768px){
          display:none;
      }
  }*/
.side-nav-open {
  left: 32px !important;
  margin-left: -32px !important;
  width: 32px !important;
}
.side-nav-open > li.dropdown > ul.dropdown-menu > li {
  margin-left: -10px !important;
}
.side-nav {
  z-index: 1029;
  background-color: white;
  margin-left: -120px;
  left: 120px;
  width: 120px;
  position: fixed;
  top: 50px;
  bottom: 60px;
  height: 100%;
  border-radius: 0;
  overflow-x: hidden;
  white-space: nowrap;
  overflow-y: auto;
  border-right: 3px ridge gainsboro;
  transition: 0.5s padding ease-out;
  transition: 0.5s margin-left ease-out;
  transition: 0.5s left ease-out;
  transition: 0.5s width ease-out;
}
@media print {
  .side-nav {
    display: none;
  }
}
.side-nav li {
  transition: 0.5s margin-left ease-out;
  border-bottom: 1px solid gray;
  width: 100%;
}
.side-nav li a {
  font-size: .8em;
  padding: 3px 8px;
}
.side-nav li a > span {
  background-color: transparent;
  font-size: 1.2em;
  padding-right: 10px;
}
.side-nav li > a:hover {
  color: #fff;
  background: #428bca;
}
.side-nav li.active > a {
  color: #fff !important;
  background: #428bca;
}
.side-nav > li.dropdown {
  border-bottom: none;
}
.side-nav > li.dropdown > ul.dropdown-menu {
  position: relative;
  min-width: 120px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.side-nav > li.dropdown > ul.dropdown-menu > li {
  border-left: none;
  border-right: none;
  border-top: none;
}
.side-nav > li.dropdown > ul.dropdown-menu > li > a {
  color: #337ab7;
  padding: 3px 8px 3px 23px;
}
.side-nav > li.dropdown > ul.dropdown-menu > li > a:hover,
.side-nav > li.dropdown > ul.dropdown-menu > li > a:focus {
  color: #fff;
  background-color: #428bca;
}
.side-nav > li.dropdown > ul.dropdown-menu > li .active > a {
  color: #fff;
}
@media (min-width: 768px) {
  .navbar-collapse {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
.nav-mess-main > a .glyphicon {
  top: 3px;
}
.nav-mess-main > ul {
  padding-left: 5px;
}
.nav-mess-main > ul > li > a .glyphicon {
  top: 3px;
  background-color: transparent;
  padding-right: 15px;
  padding-left: 5px;
}
/*# sourceMappingURL=site.css.map */